/* Custom styles for the page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar */
.navbar, .footer {
    background-color: #2a2a2a;
    padding: 10px 20px;
    justify-content: space-between;
}

.Titre {
    background-color: #bbb;
    padding: 20px;
    text-align: center;
}

.ecriture {
    color: #ffae00;
    text-transform: uppercase;
    margin-top: 15px;
}

h2 {
    font-size: 28px;
    font-weight: bold;
}

main
{
    
    margin-bottom: 220px;
}

/* Cards */
.card {
    border: none;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 22px;
    font-weight: bold;
}

.card-text {
    font-size: 16px;
}

/* Footer */
footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 20px 0;
    width: 100%;
    text-align: left;
}

footer ul {
    list-style-type: none;
}

/* Images des réseaux sociaux */
footer img {
    height: 30px;
    width: 30px;
}

/* Responsive design */
@media (max-width: 768px) {
    .card-title {
        font-size: 20px;
    }

    .card-text {
        font-size: 14px;
    }

    footer img {
        height: 25px;
        width: 25px;
    }
}

@media (max-width: 576px) {
    .Titre h2 {
        font-size: 24px;
    }

    footer img {
        height: 20px;
        width: 20px;
    }
}
