body {
    font-family: Arial, sans-serif;
}

/* Navbar */
.navbar, .footer {
    background-color: #000;
    padding: 10px 20px;
    justify-content: space-between;
}

.Titre {
    background-color: #cfbd97;
    padding: 20px;
    width: 100%;
    justify-content: center;
    justify-items: center;
}

.card-header
{
    background-color: #cfbd97;
}

.ecriture
{
    color: #ffae00;
    text-transform: uppercase;
    margin-top: 15px;   
}

.btn-warning {
    font-weight: bold;
}

h2 {
    color: #333;
    font-size: 28px;
}

.card-header {
    background-color: #f5f5f5;
    border-bottom: 2px solid #ddd;
}

.card-title {
    font-weight: bold;
}

.footer {
    padding: 20px;
}

.footer h5 {
    margin-bottom: 15px;
}

.footer a img {
    margin: 0 10px;
    filter: brightness(0) invert(1);
}

.footer p {
    font-size: 14px;
}

.text-center {
    text-align: center;
}
