/* Reset de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.Titre {
    background-color: #D9D9D9;
    padding: 20px;
    width: 100%;
}

/* Navbar */
.navbar {
    background-color: #343a40;
}

.nav-link {
    color: #ffffff !important;
    text-transform: uppercase;
}

.navbar-brand img {
    width: 50px;
    height: auto;
}

/* Dropdown menu */
.dropdown-menu {
    background-color: #343a40;
    border: none;
}

.dropdown-item {
    color: #ffffff;
    transition: background-color 0.3s, color 0.3s;
}

.dropdown-item:hover {
    background-color: #ffae00;
    color: #000000;
}

/* Contenu principal */
.main-content {
    flex: 1;
    padding: 20px;
    text-align: center;
}

h1, h2 {
    margin-bottom: 20px;
    text-transform: uppercase;
}

.Info-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

.Info-Card {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    width: 80%;
    transition: transform 0.3s, box-shadow 0.3s;
}

.Info-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.Info-card h3 {
    margin-bottom: 15px;
    font-size: 1.2rem;
    color: #000;
}

.Info-card p {
    font-size: 0.9rem;
    color: #555;
}

/* Bouton visiter */
.modify-btn {
    background-color: #343a40;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    width: 81%;
    transition: background-color 0.3s, transform 0.3s;
}

.modify-btn:hover {
    background-color: #ffae00;
    color: #000000;
    transform: scale(1.05);
}

/* Footer */
footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
}

footer ul {
    list-style-type: none;
}

.social-icons a {
    margin: 0 5px;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #ffae00;
}

/* Responsive design */
@media (max-width: 576px) {
    .logo {
        width: 40px;
        height: 40px;
    }

    footer img {
        height: 25px;
        width: 25px;
    }
}
